.contenedorDetalles{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 10px;
  }
  
  .contenedorDetalles div{
    font-weight: bold;
    color: white;
    text-transform: capitalize;
  }
  .contenedorDetalles img{
    max-width: 30vw;
    max-height: 150px;
    object-fit: contain;
    border: 3px solid white;
    margin: 1vh 0px
  }
  mat-sidenav-container {
    min-height: 80vh;
  }
  
  mat-sidenav{
    padding: 10px;
    min-width: 20vw;
  }
  
  mat-sidenav-content{
    background-color: transparent;
  }

  .detalleIngrediente{
      overflow-y: scroll;
      max-height: 200px;
  }