<div class="contenedor">

    <div class="comandos">
        <button mat-raised-button class="my-agregar" (click)="agregarNuevo()">Agregar</button>
    </div>
    <div class="tabla" class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>

            <!-- denominacion Column -->
            <ng-container matColumnDef="denominacion">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Denominación </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.denominacion | titlecase}} </mat-cell>
            </ng-container>

            <!-- tiempo de preparacion Column-->
            <ng-container matColumnDef="tiempoPreparacion">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Tiempo de Preparacion </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.tiempoPreparacion}} </mat-cell>
            </ng-container>

            <!-- precio de venta column -->
            <ng-container matColumnDef="precioVenta">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Precio de Venta </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.precioVenta}} </mat-cell>
            </ng-container>

            <!-- categoriaPlato column -->
            <ng-container matColumnDef="categoriaPlato">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Categoria Plato </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.categoriaPlato.denominacion | json}} </mat-cell>
            </ng-container>

            <!-- Acciones Column -->
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element" style="display: flex; justify-content: center;">
                    <button mat-mini-fab class="my-editar" (click)="editar(element)">
                        <mat-icon [inline]="true">create</mat-icon>
                    </button>
                    <button mat-mini-fab class="my-eliminar" (click)="eliminar(element)">
                        <mat-icon [inline]="true">delete_forever</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns.concat('actions')"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns.concat('actions');"></mat-row>

        </mat-table>
        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons aria-label="etiqueta">
        </mat-paginator>
    </div>
</div>