<footer>
    <ul>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Privacidad</a></li>
        <li><a href="#">Condiciones</a></li>
    </ul>
    <ul>
        <li>
            <a href="https://goo.gl/maps/SsJ35mHcs9eMUpzv6">
                <i class="fa fa-home" aria-hidden="true"></i> AV. Pedro Molina 3112 Guaymallén (Mendoza)
            </a>
        </li>
        <li><a href="mailto:elbuensabor@gmail.com"><i class="fas fa-envelope"></i> elbuensabor@gmail.com</a></li>
        <li><a href="tel:2611234567"><i class="fas fa-phone-alt"></i>(261) 123 - 4567</a></li>
        <li><a href="tel:2611234567"><i class="fab fa-whatsapp"></i>(261) 123 - 4567</a></li>
    </ul>
    <ul>
        <li><a href="#">Información Fiscal</a></li>
        <li><a href="#">Info del Desarrollador</a></li>
        
    </ul>

</footer>